body {
  margin: 0;
  padding: 0;
  background: rgb(63, 56, 56);
}

.inputOff,
.confirmOff,
.cancelOff,
.pendingOff,
.inProgressOff,
.readyOff {
  display: none;
}

.inputOn,
.confirmOn,
.cancelOn,
.pendingOn,
.inProgressOn,
.readyOn {
  display: inline;
}

.main-container {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(25, 0, 255); */
  width: 60%;
}

.tasks-container {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btnsUp {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}

.btnsUp input {
  width: 300px;
}

.btnsDown input {
  width: 300px;
  margin-left: 42px;
}

.tasks-container div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2px;
}