body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.inputOff,
.readyOff,
.cancelOff,
.pendingOff,
.confirmOff,
.inProgressOff,
.btnDeleteSelectedOff {
  display: none;
}

.inputOn,
.readyOn,
.cancelOn,
.pendingOn,
.confirmOn,
.inProgressOn,
.btnDeleteSelectedOn {
  display: inline;
}

button {
  cursor: pointer;
}

.main-container {
  background-color: rgb(248, 239, 239);
  padding: 15px 0px;
}